*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

}

/*自定义样式  - 开始*/

/*向下翻页的按钮*/
.swiper-button-next {
    position: absolute;
    top: auto;
    bottom: 5%;
    left: 50%;
    right: auto;
    margin-left: -13.5px;
    transform: rotateZ(-90deg);
}

/*音乐按钮样式*/
span{
    background-color: #333;
    position: absolute;
    top:3%;
    right: 5%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    z-index: 100;
}
span img{
    width: 10px;
    transform: rotateZ(0deg);
    animation: btnimg 2.5s linear infinite;
}

@keyframes btnimg{
    0%{
      transform: rotateZ(0deg);  
    }
    100%{
       transform: rotateZ(360deg);
    }
}
/* .s1*/

.s1,.s2{
    background: url("../img/bj.png");
    height: 100%;
}

.s1 .header img{
    position: absolute;
}

.s1 .header img:nth-of-type(1){
    width: 35px;
    top: 120px;
    left: 50px;
}

.s1 .header img:nth-of-type(2){
    width: 65px;
    top: 90px;
    right: 40px;
}
.s1 .header img:nth-of-type(3){
    width: 55px;
    left: 35px;
    bottom: 180px;
}
.s1 .header img:nth-of-type(4){
    width: 50px;
    right: 50px;
    bottom: 210px;
}
.s1 .header img:nth-of-type(5){
    left: 50%;
    top: 25%;
    width: 60%;
    margin-left: -30%;
}
.swing{
    transform-origin:center;
}
.s1 .main{
    position: absolute;
    top: 32%;
}
.s1 .main img:nth-of-type(1){
    width: 40%;
}
.s1 .main img:nth-of-type(2){
    width: 68%;
    margin-bottom: 20px;
    animation: pulse infinite;
}
.s1 .main .img9{
    background-image: url(../img/9.png);
    background-size:contain;
    width: 210px;
    height: 24.5px;
    margin: auto;
}

.s1 .footer{
    color: #08f5cb;
    width: 100%;
    padding-top: 80px;
}
.s1 .footer h2{
    font-size: 20px;
    padding-top: 420px;
    margin-bottom: 10px;
}
.s1 .footer p:nth-of-type(1){
   font-size:16px;
}
.s1 .footer img{
    height: 70px;
}
.s1 .footer img:nth-of-type(1){
    position: absolute;
    bottom: 10px;
    left: -77px;
}
.s1 .footer img:nth-of-type(2){
    position: absolute;
    bottom: 10px;
    left: 0px;
}

/*s2样式*/
.s2{
    color: #00f6c9;
}
.s2 h2{
    
    font-size: 25px;
    font-family: 宋体;
    padding-top: 30px;
    
}
.s2 h2::before{
    content: "";
    display: inline-block;
    background-image: url(../img/14.png);
    background-size: 100%;
    width: 83px;
    height: 20px;
    position: absolute;
    top: 35px;
    left: 55px;
}
.s2 h2::after{
    content: "";
    display: inline-block;
    background-image: url(../img/13.png);
    background-size: 100%;
    width: 83px;
    height: 20px;
    position: absolute;
    top: 35px;
    right: 55px;
}
.s2 small{
    font-size: 16px;
    font-family: Gautami;
    display: inline-block;
    margin-bottom: 10px;
}
.s2 .main{
   position: relative;
}
.s2 .main img{
    width: 80%;
    text-align: center;
    
}
.s2 .text{
    position: absolute;
    width: 70%;
    top: 25px;
    left: 60px;
}
.s2 .text p{
    text-align: left;
    font-size: 0.7em;
    margin-bottom: 10px;
   
}
.s2 .main span{
    width: 130px;
    position: absolute;
    top: 94%;
    left: 34%;
    background-color: aquamarine;
    color: #08001d;
    border-radius: 20px;
    padding: 8px 0px;
    background: linear-gradient(to right, #00e7f9, #00ff96);
}
.s2 .main span p{
    line-height:85%;
}